#main-container {
    place-items: center center;
  }
  
  #sign-in-form {
    min-width: 350px;
    min-height: 350px;
  }
  
  .bootstrap-logo {
    width: 120px; 
    height: 120px;
  }
  
  .form-control:focus {
    z-index: 5;
  }

 