.rawData_container {
	text-align: left;
	background-color: white;
	height: 800px;
}
.rawData_heading {
	height: 150px;
}
.rawData_body {
	background-color: #f5f5f5;
}

/* .button {
  background-color: #DE50001A;
  color: black;
  text-align: center;
  font-size: 20px;
  margin: 4px 2px;
  padding: 10px 10px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 15px;
  width: 20%;
} */
