.App {
  text-align: left;
}
.heading {
  height: 200px;
}


.App-header {
  background-color: #FFECEC;
  height: 600px;
  transform: translateY(-2%);
}

.tab-button {
  background-color:none;
  color: black;
  text-align: center;
  font-size: 20px;
  margin: 4px 2px;
  padding: 10px 10px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 15px;
  width: 20%;
  height: 10%;
  top: 50%;
  left: 90%;
  transform: translateX(+125%) translateY(+20%);
}
.tab-button:focus{
  background-color: #C54242;
  color: white;

}
.heading_lecture{
  background-color: #F5F5F5;
  height: 1020px;
  padding: 10px 30px;
}





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.index1 {
  top: 50%;
  left: 90%;
  transform: translateX(+10%) translateY(+18%);
  width: 350px;
  height: 400px;
  background-color: white;
}

.index2 {
  top: 50%;
  left: 90%;
  transform: translateX(+125%) translateY(-87%);
  width: 350px;
  height: 400px;
  background-color: white;
}

.index3 {
  top: 50%;
  left: 90%;
  transform: translateX(+240%) translateY(-193%);
  width: 350px;
  height: 400px;
  background-color: white;
}
.small_tab-button{
  border:none;
  cursor: pointer;
}


